

<%= form_with(model: @user, local: true) do |f| %>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= f.label :name %>
  <%= f.text_field :"名前" %>

  <%= f.label :email %>
  <%= f.email_field :"メールアドレス" %>

  <%= f.label :password %>
  <%= f.password_field :"パスワード" %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :"パスワード（確認用）" %>

  <%= f.submit "アカウント登録" %>
<% end %>
